.gift {
  width: 280px;
  height: 290px;
  background-image: url("../img/gift-mobile.png");
  padding: 43px 58px;

  @media (min-resolution: 2dppx) {
    background-size: cover;
    background-image: url("../img/gift-mobile@2x.png");
    background-repeat: no-repeat;
  }

  @media (min-width: @tablet-width) and (max-width: @desktop-width - 1) {
    background-image: url("../img/gift-tablet.png");
    width: 708px;
    height: 200px;

    @media (min-resolution: 2dppx) {
      background-size: contain;
      background-image: url("../img/gift-tablet@2x.png");
    }
  }

  @media (min-width: @desktop-width) {
    width: 245px;
    height: 289px;
    padding: 43px 42px;
    justify-self: end;
  }
}

.gift__icon {
  background-image: url("../img/icon_gift.svg");
  width: 80px;
  height: 80px;
}

.gift__text {
  font-family: 'Arial';
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: @color-text-white;
  text-align: center;
  margin: 0;

  @media (min-width: @tablet-width) and (max-width: @tablet-width) {
    margin-bottom: 0px;
    text-align: left;
  }
}



