@color-body-background: white;
@color-text-black: black;
@color-green: #68B738D9;
@color-basic-green:#68B738;
@color-text-white: white;
@color-fill-grey: #F2F2F2;
@color-fill-grey2:#EAEAEA;
@color-border-grey: #D9D9D9;
@color-border-grey2: #CDCDCD;
@color-text-special-grey: #444444;
